@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.table tr,
th,
td {
  border: 1px solid #fff;
} */

.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.styleTd {
  background: #ece1e1;
  padding: 10px;
}
